{% extends 'users/base.html' %}
{% load static %}
{% block content%}
            
<div class="d-flex justify-content-center pt-5">
    <div class=" ">
        <h3 class="text-center pt-3">Sign In</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" name="email" placeholder="Type your username" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Type your password" class="form-control"
                id="exampleInputPassword1">
            <br>
            <button class="btn btn-secondary" type="submit">Log In</button>
        </form>
        <div class="py-3 text-warning">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}